.boxes {
  border: solid 2px black;
  min-height: 600px;
  width: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

p {
  border: solid black;
  width: auto;
  border-width: 2px 2px 0 2px;
  margin-bottom: 0;
}

.box--1 {
  height: 80px;
  width: 100%;
  background-color: blueviolet;
  margin: 1%;
  margin-top: 0;
  margin-top: 1em;
}

.box--2 {
  height: 30em;
  margin: 1%;
  background-color: red;
  flex: 1;
}

.box--3 {
  height: 30em;
  margin: 1%;
  flex: 1;
  background-color: green;
}

.box--4 {
  height: 30em;
  margin: 1%;
  flex: 1;
  background-color: orangered;
}
