body {
  background-color: rgb(213, 136, 74);
}

#wrap {
  margin: 10px 20%;
  border: 3px dashed black;
  background-color: blanchedalmond;
}

h1 {
  border-bottom: 3px dashed black;
  text-align: center;
  font-weight: bold;
  margin-top: 0px;
  font-family: sans-serif;
  font-style: italic;
}

ul {
  list-style: none;
  text-align: center;
  font-style: italic;
}

li::first-letter {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 21px;
}

.copyright {
  text-align: center;
}
